@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Kiona';
  src: url(./assets/fonts/Kiona-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --color-champagne: #F8F5D8;
  --color-quasepreto40: #282828;
  --color-quasebranco240: #F0F0F0;
  --color-azulescuro: #618091;
  --color-azulclaro: #8C9DAB;

  --font-body: 'Source Sans Pro', sans-serif;
  --font-title: 'Kiona', sans-serif;
  --font-aux: 'Outfit', sans-serif;

  /* --font-title: 'Merriweather', serif;
  --font-body: 'Libre Franklin', sans-serif;
  --font-logo: 'Lobster', sans-serif;
  --font-hometext: 'Tilt Warp', sans-serif; */
}


.App {
  text-align: center;
  background-color: var(--color-champagne);
}

/* ##### HEADER - INICIO ##### */

.header-container{
  height: 72px;
  width: 100vw;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  font-family: var(--font-title);
  background-image: linear-gradient(to bottom, rgba(50,50,50,0.5), transparent);
  z-index: 99;
}

.header-logo{
  width: 20vw;
  color: var(--color-quasebranco240);
  margin-left: 24px;
}



.header-menu-icon{
  color: var(--color-quasebranco240);
  width: 10vh;
  margin-right: 24px;
  background-color: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
}

/* ##### HEADER - FIM ##### */

/* ##### QUEM SOMOS - INICIO ##### */

.quemsomos-container{
  /* padding-top: 72px; */
  /* border: 1px solid black; */
  height: fit-content;
  margin-bottom: -80px;
}

.quemsomos-banner{
  height: 280px;
  background-repeat: repeat;
  background-size: cover;
  background-position: 0 0;
  animation: moverBanner 200s infinite;
}

@keyframes moverBanner {
  0%{
    background-position: 0 0;
  }

  100%{
    background-position: -600px 0;
  }
}

.quemsomos-descricao{
  /* border: solid 1px red; */
  margin: 48px;
  position: relative;
  top: -56px;
}

.quemsomos-descricao-title{
  box-sizing: border-box;
  font-family: var(--font-title);
  color: var(--color-azulescuro);
  margin-left: 0;
  /* border: solid 1px black; */
  text-align: start;
  font-size: 2.4rem;
  position: relative;
  top: 56px;
  z-index: 0;
}

.quemsomos-descricao-foto{
  position: relative;
  width: 100%;
  z-index: 1;
}

.quemsomos-descricao-texto{
  /* border: solid 1px red; */
  text-align: justify;
  font-family: var(--font-body);
  color: var(--color-quasepreto40);
  font-size: 1rem;
}

.quemsomos-descricao-title-icons{
  font-family: var(--font-title);
  color: var(--color-azulescuro);
  font-size: 1.4rem;
  margin-top: 28px;
  margin-bottom: 8px;
}


.quemsomos-icons-container{
  /* border: solid 1px red; */
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ##### QUEM SOMOS - FIM ##### */
/* ##### PROJETOS - INICIO ##### */
.projetos-container{
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projetos-title h3 {
  font-family: var(--font-title);
  color: var(--color-azulescuro);
  font-size: 1.8rem;
  font-weight: 100;
  margin-top: 28px;
  margin-bottom: 8px;
}

.projetos-title-line{
  height: 1px;
  width: 160%;
  position: relative;
  left: -30%;
  background-image: linear-gradient(to right, 
  rgba(0,0,0,0) 0%,
  var(--color-azulescuro) 50%,
  rgba(0,0,0,0) 100%);
  /* background: linear-gradient(to right, 
  rgba(0,0,0,0) 0%,
  var(--color-azulescuro) 50%,
  rgba(0,0,0,0) 100%,); */
}

.button-cta{
  width: calc(100% - 96px);
  margin-block: 48px;
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, var(--color-azulescuro) 0%, var(--color-azulclaro) 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: var(--color-quasebranco240);
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  font-family: var(--font-title);
}

.button-cta:hover{
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.button-cta:active{
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}
/* ##### PROJETOS - FIM ##### */
/* ##### CONTATO - INICIO ##### */

.contato-container{
  margin-top: 16px;
  background-color: var(--color-azulclaro);
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--color-champagne);
  font-family: var(--font-aux)
}

.contato-container a{
  color: var(--color-champagne);
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.8rem;
}

.contato-ponto-iconscontainer{
  padding: 8px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 72px;
}

.contato-ponto-iconscontainer a{
  color: var(--color-champagne);
}

.contato-createdby-container{
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-azulescuro);
}

.contato-createdby-container p{
  font-size: 1rem;
}

.contato-createdby-container a{
  color: var(--color-azulescuro);
  font-size: 0.8rem;
  text-decoration: underline;
}

/* ##### CONTATO - FIM ##### */